root = true

[*.{kt,kts}]
ktlint_code_style = android_studio
ij_kotlin_name_count_to_use_star_import = 9999
ij_kotlin_name_count_to_use_star_import_for_members = 9999
ktlint_function_naming_ignore_when_annotated_with=Composable
