<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Ruffle"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTask"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PanicActivity"
            android:launchMode="singleTask"
            android:exported="false">
        </activity>
        <activity
            android:name=".PlayerActivity"
            android:exported="true"
            android:configChanges="orientation|keyboardHidden|screenSize"

            android:screenOrientation="user"
            >
            <meta-data android:name="android.app.lib_name" android:value="ruffle_android" />

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />

            <!-- Handle only flash related files ( .swf, .spl) -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <category android:name="android.intent.category.OPENABLE"/>
                <data android:scheme="file"/>
                <data android:scheme="content"/>
                <data android:scheme="http"/>
                <data android:scheme="https"/>
                <data android:mimeType="application/x-shockwave-flash"/>
                <data android:mimeType="application/futuresplash"/>
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <category android:name="android.intent.category.OPENABLE"/>
                <data android:scheme="file"/>
                <data android:scheme="content"/>
                <data android:scheme="http"/>
                <data android:scheme="https"/>
                <data android:mimeType="*/*"/>
                <data android:host="*"/>
                <data android:pathPattern=".*\\.swf"/> <!-- match .swf / .SWF with multiple dots for backwards compatibility -->
                <data android:pathPattern=".*\\.SWF"/>
                <data android:pathPattern=".*\\..*\\.swf"/>
                <data android:pathPattern=".*\\..*\\.SWF"/>
                <data android:pathPattern=".*\\..*\\..*\\.swf"/>
                <data android:pathPattern=".*\\..*\\..*\\.SWF"/>
                <data android:pathPattern=".*\\.spl"/>
                <data android:pathPattern=".*\\.SPL"/>
                <data android:pathPattern=".*\\..*\\.spl"/>
                <data android:pathPattern=".*\\..*\\.SPL"/>
                <data android:pathPattern=".*\\..*\\..*\\.spl"/>
                <data android:pathPattern=".*\\..*\\..*\\.SPL"/>
                <data android:pathSuffix="swf"/> <!-- support Android 12+ pathSuffix -->
                <data android:pathSuffix="SWF"/>
                <data android:pathSuffix="spl"/>
                <data android:pathSuffix="SPL"/>
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="file"/>
                <data android:scheme="http"/>
                <data android:scheme="https"/>
                <data android:host="*"/>
                <data android:pathPattern=".*\\.swf"/> <!-- match .swf / .SWF with multiple dots for backwards compatibility -->
                <data android:pathPattern=".*\\.SWF"/>
                <data android:pathPattern=".*\\..*\\.swf"/>
                <data android:pathPattern=".*\\..*\\.SWF"/>
                <data android:pathPattern=".*\\..*\\..*\\.swf"/>
                <data android:pathPattern=".*\\..*\\..*\\.SWF"/>
                <data android:pathPattern=".*\\.spl"/>
                <data android:pathPattern=".*\\.SPL"/>
                <data android:pathPattern=".*\\..*\\.spl"/>
                <data android:pathPattern=".*\\..*\\.SPL"/>
                <data android:pathPattern=".*\\..*\\..*\\.spl"/>
                <data android:pathPattern=".*\\..*\\..*\\.SPL"/>
                <data android:pathSuffix="swf"/> <!-- support Android 12+ pathSuffix -->
                <data android:pathSuffix="SWF"/>
                <data android:pathSuffix="spl"/>
                <data android:pathSuffix="SPL"/>
            </intent-filter>
        </activity>
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>
</manifest>