name: Lint & Format

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  rust:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Install Rust toolchain
        uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: stable
          targets: aarch64-linux-android
          components: rustfmt, clippy

      - name: Cache Cargo output
        uses: Swatinem/rust-cache@v2
        with:
          shared-key: clippy
          save-if: ${{ github.ref == 'refs/heads/main' }}

      - name: Check formatting
        run: cargo fmt --all -- --check

      - name: Install cargo-ndk
        run: cargo install cargo-ndk

      - name: Check clippy
        run: cargo ndk --bindgen -t arm64-v8a -- clippy --all --all-features --tests -- -D warnings

  android:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4.2.1
        with:
          distribution: 'temurin'
          java-version: '17'

      - uses: gradle/wrapper-validation-action@v3
        name: Validate Gradle Wrapper

      - name: Check ktlint
        run: ./gradlew ktlintCheck

      - name: Check lint
        run: ./gradlew lint
