name: Report test results
on:
  workflow_run:
    workflows: [build]
    types: [completed]

permissions:
  checks: write

jobs:
  checks:
    runs-on: ubuntu-latest
    steps:
      - name: Download Test Report
        uses: dawidd6/action-download-artifact@v11
        with:
          name: junit-test-results-.*
          name_is_regexp: true
          workflow: ${{ github.event.workflow.id }}
          run_id: ${{ github.event.workflow_run.id }}
      - name: Publish Test Report
        uses: mikepenz/action-junit-report@v6
        with:
          commit: ${{github.event.workflow_run.head_sha}}
          report_paths: '**/TEST-*.xml'